<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="/main.css" rel="stylesheet">
  <title>Document</title>
</head>
<body>
  

<h1>URL Shortener</h1>
<div class="link-image"><img src="linkimage.png" alt=""> </div>

{{{ body }}}


</body>
<script>
const copyData = document.querySelector('#copy')
copyData.addEventListener('click',  function onButtonClicked(event)  {
    navigator.clipboard.writeText(event.target.dataset.link)
    .then( function () {
      alert('文本已成功复制到剪贴板');
    })
    .catch( function () {
      alert('复制文本时出现错误:');
    });
})



</script>
</html>