<form action="/" method="post">
  <div class="input-group">
    <input class="input" type="text" name="link" placeholder="Input URL here">

    <div class="button">
      <button class="button-shortened" type="submit">Shorten</button>
    </div>
  </div>

</form>

<div class="err-message">
  {{warning}}
</div>