
{{#if shortenedLinkForRender}}

<h2>Success! Please use this link:</h2>
<a href={{shortenedLinkForRender}}>{{shortenedLinkForRender}}</a>

  <div class="button-copy-block">
      <button class="button-copy" type="button" id="copy" data-link="{{shortenedLinkForRender}}">Copy</button>
  </div>


{{else}}
<form action="/" method="post">
  <div class="input-group">
    <input class="input" type="text" name="link" placeholder="Input URL here">

    <div class="button">
      <button class="button-shortened" type="submit">Shorten</button>
    </div>
  </div>

</form>

{{/if}}